<div class="side-nav-content">
  <ul [ngClass]="{'nav-list-open' : sideNavStatus}" class="nav-list">
    <div *ngIf="sideNavStatus" class="text-center mb-5">
      <img alt="Image" class="mb-3" height="60" src="assets/images/logo.png">
      <div class="text-900 text-xl font-medium border-bottom-1 surface-border mb-3">
        Welcome <b>{{currentUser.role.substring(5)}}</b>
      </div>
    </div>
    <a *ngFor="let item of list" routerLink="{{item.route}}">
      <li *ngIf="hasAuthority(item.permission)" [routerLinkActive]="'active'" class="nav-list-item">
        <i class="{{item.icon}}"></i>
        <span> {{item.name}} </span>
      </li>
    </a>
  </ul>

</div>
