<nav class="navbar navbar-expand-lg navbar-dark bg-blue-500 fixed-top px-2">
  <div class="container-fluid">
    <div (click)="sideNavToggle()" class="side-nav-button p-2 me-3 text-light">
      <i class="pi pi-bars"></i>
    </div>
    
    <a class="navbar-brand px-4" href="#">COCO TUNISIA</a>

    <div class="profile-logo dropstart" id="navbarNavDropdown">
      <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
        {{currentUser.firstname + " " + currentUser.lastname}}
      </button>
      <ul class="dropdown-menu">
        <a (click)="navigateTo(item.route)" *ngFor="let item of list" class="dropdown-item">
          <li class="nav-list-item">
            <i class="{{item.icon}}"></i>
            <span> {{item.name}} </span>
          </li>
        </a>
      </ul>
    </div>
  </div>
</nav>
