<br><br>
<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-12 col-12">
      <p
        class="font-bold text-center text-blue-500 hover:text-orange-700 text-6xl border-bottom-1 surface-border surface-overlay w-full">
        COCO TUNISIA</p>
      <p class="font-medium text-center text-black-alpha-80 text-2xl">With Coco Tunisia,manage and stay in touch with
        your customers.
      </p>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
      <div class="card bg-blue-100 border-round">
        <div class="card-body">
          <form
            #f="ngForm"
            (ngSubmit)="f.form.valid && onSubmit()"
            *ngIf="!isSubmitted"
            name="form"
            novalidate
          >
            <div class="text-center mb-5">
              <img alt="Image" class="mb-3" height="70" src="assets/images/logo.png">
              <div class="text-900 text-3xl font-medium mb-3">Forgot Password, Partner!</div>
              <div>
                <span class="text-600 font-medium line-height-3">Do have an account?</span>
                <a (click)="signIn()" class="font-medium text-center no-underline mx-2 text-orange-500 cursor-pointer">Sign
                  in</a>
              </div>

              <p-messages *ngIf="isForgotPassword" [(value)]="messages" [closable]="false"
                          [enableService]="false"></p-messages>
            </div>

            <div class="mb-3">
              <div class="input-group mb-1">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input #email="ngModel"
                       (input)="checkValidity($event)"
                       [(ngModel)]="form.email"
                       [ngClass]="{ 'ng-dirty': (email.invalid && isSubmitted) || (email.dirty && email.invalid), 'is-invalid': (email.invalid && isSubmitted) || (email.dirty && email.invalid) || (email.valid && !isSubmitted) && !isEmailInputValid, 'is-valid': isEmailInputValid }"
                       aria-describedby="email-help"
                       class="form-control"
                       id="email"
                       name="email"
                       pInputText
                       placeholder="Email"
                       required
                       type="email"
                />
              </div>
              <small *ngIf="isEmailInputValid" class="p-success">Looks good!.</small>
              <small
                *ngIf="(email.invalid && isSubmitted) || (email.dirty && email.invalid) || (email.valid && !isSubmitted) && !isEmailInputValid"
                class="p-error">Email is required.</small>
            </div>

            <button
              [disabled]="!f.form.valid || (email.invalid && isSubmitted) || (email.dirty && email.invalid) || (email.valid && !isSubmitted) && !isEmailInputValid "
              class="p-button-info w-full" label="Send Email" pButton
              pRipple></button>

            <div *ngIf="f.submitted && isSubmittedFailed"
                 class="flex align-items-center justify-content-center p-error m-2">
              Email you entered is not associated with an account.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




